# Python
backend/env/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

#Ml data_sources
backend/ML/datasets/
backend/ML/models/
backend/ML/SentenceToString/Datasets/
backend/ML/SentenceToString/Models/

venv/
__pycache__/
*.pyc
*.pkl
*.pt
*.h5
*.onnx