# Python
venv/
venv1/
venv2/
__pycache__/
*.pyc
*.db

# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# ML data (large files - ignore datasets only)
backend/ML/datasets/
backend/ML/SentenceToString/Datasets/


# Instead ignore only large/extra models
*.h5
*.pt
*.pth

!backend/Models/nitish.keras